*.log
*.swp
*.jdl
*REZ*.csv
.vscode
/*.fasta
/*.csv
quast_results
notebooks/.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints
.ipynb_checkpoints/*
.ipynb_checkpoints
notebooks/my-out.fasta
test/playdata/test500out.fasta
